.title {
  margin-bottom: 20px;
  margin-left: 18%;
  font-size: 2em;
  font-weight: 900;
}

.account {
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.0975) 0 3px 6px rgba(0, 0, 0, 0.08);
  background-color: rgba(221, 228, 235, 0.05);
  width: 65%;
  height: 400px;
  border-radius: 10px;
  margin-bottom: 70px;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.0975);
  overflow: scroll;
  margin: 0 auto;
}

.btnGroup {
  position: relative;
  top: 500px;
  width: 480px;
  margin: 0 auto;
}

.createBtn {
  font-size: 1.6rem;
  font-weight: bold;
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255);
  outline: 0;
  color: white;
  border-radius: 50%;
  margin: 10px;
  margin-top: 20px;
  margin-left: 30px;
  width: 70px;
  height: 70px;
  cursor: pointer;
  font-family: Arial, Helvetica, Helvetica Neue;
}

.createBtn:hover {
  color: rgb(238, 196, 45);
  border: 1px solid rgb(238, 196, 45);
  transform: scale(1.2);
}

.createBtn:active {
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  transform: scale(1.2);
  background: rgba(255, 255, 255, 0.2);
}

.ImportBtn {
  font-size: 1.1rem;
  font-weight: bold;
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255);
  outline: 0;
  color: white;
  border-radius: 50%;
  margin: 10px;
  margin-top: 20px;
  margin-left: 20px;
  width: 31px;
  height: 30px;
  cursor: pointer;
  font-family: Arial, Helvetica, Helvetica Neue;
}

.ImportBtn:hover {
  color: rgb(238, 196, 45);
  border: 1px solid rgb(238, 196, 45);
  transform: scale(1.2);
}

.ImportBtn:active {
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  transform: scale(1.2);
  background: rgba(255, 255, 255, 0.2);
}

.logo img {
  width: 400px;
  opacity: 0.3;
  margin-top: 5%;
  margin-left: 30%;
}

